DEBUG = False
ADMIN_ENABLED = False

MEDIA_ROOT = '/path/to/media/'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'blagodarie', 
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    },
}

# Webhook ключ от github репозитория. Webhook обеспечивает при каждом
# push в репозиторий отправку запроса для получения данных о версии
# мобильного приложения.
#
GITHUB_WEBHOOK_SECRET = 'secret'

# Webhook ключ от github репозитория приложения Rating.
# Webhook обеспечивает при каждом push в репозиторий
# отправку запроса для получения данных о версии
# мобильного приложения.
#
RATING_GITHUB_WEBHOOK_SECRET = 'secret'
